<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Movie Manager</title>

    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet" />
    <link href="css/grid.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />

    <!-- ✅ VUE loaded BEFORE your main.js -->
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div class="grid-con" id="app">
        <div class="col-span-full">
            <h2>Movies</h2>
            <p>Explore a list of iconic movies and their directors.</p>
            <p>Click on a movie to learn more about it!</p>

            <div v-if="loadingMovies">
                <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                    <circle fill="#FF156D" stroke="#FF156D" stroke-width="15" r="15" cx="35" cy="100">
                        <animate attributeName="cx" dur="2" repeatCount="indefinite" values="35;165;165;35;35" />
                    </circle>
                </svg>
            </div>

            <ul id="movie-list">
                <li v-for="movie in movies" :key="movie.id">
                    <h3>
                        Title:
                        <a href="#movie" @click="getMovie(movie.id)">
                            {{ movie.title }}
                        </a>
                    </h3>
                </li>
            </ul>
        </div>

        <div class="col-span-full" id="movie">
            <div v-if="loading">
                <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                    <circle fill="#FF156D" stroke="#FF156D" stroke-width="15" r="15" cx="35" cy="100">
                        <animate attributeName="cx" dur="2" repeatCount="indefinite" values="35;165;165;35;35" />
                    </circle>
                </svg>
            </div>

            <section v-if="error">
                {{ error }}
            </section>

            <section id="info-box" v-if="title">
                <img :src="`images/${poster}`" alt="Movie Poster" />
                <p><span class="title">Title:</span> {{ title }}</p>
                <p><span class="title">Director:</span> {{ director }}</p>
                <p><span class="title">Description:</span> {{ short_description }}</p>
            </section>
        </div>
    </div>

    <!-- ✅ Load Vue logic LAST to make sure everything is mounted -->
    <script src="js/main.js"></script>
</body>
</html>
